<html>
    <head>
        <title>Firelily's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Firelily's Blog</a></h1>
        </div>

        <div>
            <p>published: 03.24.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Look at all this stuff!</p>
        </div>

        <div>
            <p>published: 03.22.2018, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Look! Even more stuff! YASSS!</p>
        </div>
    </body>
</html>
